<template x-component="risks">
  <div x-data="{command: $persist({}).as('createrisk' + location)}">

    <draftsman-mutation command="CreateCompanyRisk"
                        x-include="/prepared-statements/commands/CreateCompanyRisk.txt" authenticated>
    </draftsman-mutation>
    <draftsman-trace command="CreateCompanyRisk"
                     status="success"
                     @trace="
                    command = {};
                    setTimeout(Draftsman.force_reload_data,1000);
                    Draftsman.empty_track_and_trace_log();">
    </draftsman-trace>

    <div x-import="utils/loading-icon">
      <ui-update-logs command="CreateCompanyRisk"></ui-update-logs>
    </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Gross risk</th>
        <th>Risk apetite</th>
      </tr>
      </thead>
      <tbody>
      <template x-for="risk in company.risks" :key="risk.arn">
        <tr>
          <th x-text="risk.name"></th>
          <th x-text="risk.grossImpact*risk.grossLikelihood"></th>
          <th x-text="risk.apetiteImpact*risk.apetiteLikelihood"></th>
        </tr>
      </template>
      </tbody>
    </table>

    <button @click="Draftsman.empty_track_and_trace_log()"
            type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#riskModal">
      Define risk
    </button>

    <!-- add Risk Modal -->
    <div class="modal fade" id="riskModal" tabindex="-1" aria-labelledby="riskModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="riskModalLabel">Define Risk</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form x-effect="command.companyArn = company.arn">

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="first-tab" 
                          data-bs-toggle="tab" data-bs-target="#first" 
                          type="button" role="tab" aria-controls="first" aria-selected="true">1: Describe Risk</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="second-tab" 
                          data-bs-toggle="tab" data-bs-target="#second" 
                          type="button" role="tab" aria-controls="second" aria-selected="false">2: Risk Matrix</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="third-tab"
                          data-bs-toggle="tab" data-bs-target="#third"
                          type="button" role="tab" aria-controls="third" aria-selected="false">3: Risk Apetite</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="fourth-tab"
                          data-bs-toggle="tab" data-bs-target="#fourth"
                          type="button" role="tab" aria-controls="fourth" aria-selected="false">4: Risk treatment plan</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="fifth-tab"
                          data-bs-toggle="tab" data-bs-target="#fifth"
                          type="button" role="tab" aria-controls="fifth" aria-selected="false">5: Linked controls</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="sixth-tab"
                          data-bs-toggle="tab" data-bs-target="#sixth"
                          type="button" role="tab" aria-controls="sixth" aria-selected="false">6: Risk Assessment</button>
                </li>

              </ul>
              <br>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                  <div class="form-floating">
                    <input type="text" id="riskname" class="form-control"
                           x-effect="command.arn = prepare_arn(company.arn,'risk',command.name)"
                           x-model="command.name"/>
                    <label for="riskname">Risk name</label>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-floating">
                    <textarea type="text" id="controldescription"
                              style="height:300px"
                              class="form-control" x-model="command.description" x-effect="if(!command.description){command.description = '# Title\n\nLorem ipsum...'}"></textarea>
                        <label for="controldescription">Description</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div x-html="converter.makeHtml(command.description)"></div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                  <table class="table">
                    <thead>
                    <tr>
                      <th colspan="3">
                        Risk Matrix
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th>Impact</th>
                      <td>
                        <input type="range" class="form-range"
                               x-model="command.grossImpact"
                               x-effect="if(!command.grossImpact){command.grossImpact = 0}"
                               min="1" max="5" step="1">
                      </td>
                      <td x-text="impact_labels[command.grossImpact]"></td>
                    </tr>
                    <tr>
                      <th>Likelihood</th>
                      <td>
                        <input type="range" class="form-range"
                               x-model="command.grossLikelihood"
                               x-effect="if(!command.grossLikelihood){command.grossLikelihood = 0}"
                               min="1" max="5" step="1">
                      </td>
                      <td x-text="likelihood_labels[command.grossLikelihood]"></td>
                    </tr>
                    <tr>
                      <th colspan="2">Gross Risk Score</th>
                      <td x-text="command.grossImpact*command.grossLikelihood"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                  <table class="table">
                    <thead>
                    <tr>
                      <th colspan="3">
                        Risk Apetite (acceptable Risk Matrix)
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th>Impact</th>
                      <td>
                        <input type="range" class="form-range"
                               x-model="command.apetiteImpact"
                               x-effect="if(!command.apetiteImpact){command.apetiteImpact = 0}"
                               min="1" :max="command.grossImpact" step="1">
                      </td>
                      <td x-text="impact_labels[command.apetiteImpact]"></td>
                    </tr>
                    <tr>
                      <th>Likelihood</th>
                      <td>
                        <input type="range" class="form-range"
                               x-model="command.apetiteLikelihood"
                               x-effect="if(!command.apetiteLikelihood){command.apetiteLikelihood = 0}"
                               min="1" :max="command.grossLikelihood" step="1">
                      </td>
                      <td x-text="likelihood_labels[command.apetiteLikelihood]"></td>
                    </tr>
                    <tr>
                      <th colspan="2">Risk Apetite</th>
                      <td x-text="command.apetiteImpact*command.apetiteLikelihood"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="fourth" role="tabpanel" aria-labelledby="fourth-tab">
                    <h4>Risk treatment plan</h4>
                    <div class="alert alert-danger" role="alert"
                         x-data="{report: {}}" x-effect="report = is_treatment_plan_sufficient(command)"
                         x-show="!report.impact || !report.likelihood" x-cloak x-transition>
                      The treatment plan is not sufficient to decrease the risk below or equal to the apetite.
                      <span x-show="!report.impact">The impact should be decreased with <span x-text="report.impactDecrease"></span>.</span>
                      <span x-show="!report.likelihood">The likelihood should be decreased with <span x-text="report.likelihoodDecrease"></span>.</span>
                    </div>
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Action</th>
                        <th>Impact decrease</th>
                        <th>Likelihood decrease</th>
                        <th>Description</th>
                      </tr>
                      </thead>
                      <tbody x-init="if(!command.treatmentPlan){command.treatmentPlan = deep_copy(treatment_plan)}">
                      <template x-for="item in command.treatmentPlan" :key="item.type">
                        <tr x-effect="if(command.apetiteImpact*command.apetiteLikelihood != 0 && item.type == 'accept' && item.description == ''){item.description = 'We accept the residual risk'}"
                            :class="(item.impactDecrease != 0 || item.likelihoodDecrease != 0 || (command.apetiteImpact*command.apetiteLikelihood != 0 && item.type == 'accept')) ? 'table-info' : ''">
                          <th x-text="item.type"></th>
                          <td>
                            <span x-show="item.type == 'accept'" x-cloak x-transition>-</span>
                            <input type="number" class="form-control"
                                   x-model="item.impactDecrease"
                                   x-show="item.type != 'accept'" x-cloak x-transition
                                   min="0" :max="command.grossImpact" step="1">
                          </td>
                          <td>
                            <span x-show="item.type == 'accept'" x-cloak x-transition>-</span>
                            <input type="number" class="form-control"
                                   x-model="item.likelihoodDecrease"
                                   x-show="item.type != 'accept'" x-cloak x-transition
                                   min="0" :max="command.grossLikelihood" step="1">
                          </td>
                          <td>
                           <textarea type="text"
                                     class="form-control"
                                     x-model="item.description"></textarea>
                          </td>
                        </tr>
                      </template>
                      </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="fifth" role="tabpanel"
                     x-data="{maxImpact: 100}" x-effect="maxImpact = frame_impact_on_risk_percentage(command)" aria-labelledby="fifth-tab">
                  <div class="alert alert-danger" role="alert"
                       x-show="maxImpact != 0" x-cloak x-transition>
                    The combined effectiveness on risk treatment should be 100%<br>
                    At the moment it is at <span x-text="100-maxImpact"></span>%<br>
                    <small>If te controls are not in place yet, you can skip this step for now.</small>
                  </div>
                  <ul class="list-group list-group-flush">
                    <template x-for="control in command.controlLinks" :key="control.arn">
                      <li class="list-group-item">
                        <b x-text="get_control_name(company,control.arn)"></b>:&nbsp;
                        Effectiveness on risk treatment:&nbsp;
                        <input type="number"
                               x-model="control.impactOnRisk"
                               min="0"
                               :max="parseInt(control.impactOnRisk) + maxImpact"
                               step="10">%
                        <button type="button" class="btn-close float-end"
                                @click="command.controlLinks = command.controlLinks.filter(x => x.arn != control.arn)" aria-label="Close"></button>
                      </li>
                    </template>
                  </ul>

                  <input class="form-control"
                         @change="command.controlLinks.push({arn: $el.value, impactOnRisk: 0});$el.value = ''"
                         x-effect="if(!command.controlLinks){command.controlLinks = []}"
                         list="controlOptions" placeholder="Link control...">
                  <datalist id="controlOptions">
                    <template x-for="control in company.controls.filter(x => !command.controlLinks.map(y => y.arn).includes(x.arn))" :key="control.arn">
                      <option x-text="control.name"
                              :value="control.arn"></option>
                    </template>
                  </datalist>
                  
                </div>
                <div class="tab-pane fade" id="sixth" role="tabpanel" aria-labelledby="sixth-tab">
                  <label for="review-periodicity">Assessment Periodicity:
                    <span x-text="periodicity_names[command.reviewPeriodicity]"></span></label>
                  <input type="range" class="form-range"
                         @change="command.reviewPeriodicity = periodicity_templates[$el.value]"
                         x-effect="if(!command.reviewPeriodicity){command.reviewPeriodicity = '1Y'}"
                         min="0" :max="periodicity_templates.length - 1" step="1" id="review-periodicity"
                         :value="periodicity_templates.indexOf(command.reviewPeriodicity)">

                  <label for="review-date">Next review date</label>
                  <input type="date" class="form-control"
                         :value="command.nextReviewDate"
                         @change="command.nextReviewDate = $el.value"
                         id="review-date" >
                  <br>
                  <button class="float-end btn btn-sm btn-primary" type="button" data-bs-dismiss="modal"
                          @click="$store.mutation.send('CreateCompanyRisk',command);">Save</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>