<!-- This file is managed by Tracepaper -->
<template x-component="ActivateUser">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="ActivateUser" x-include="/prepared-statements/commands/ActivateUser.txt">
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="ActivateUser"
              x-include="/form-definitions/ActivateUser.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="ActivateUser"></ui-basic-form>

        <draftsman-trace command="ActivateUser"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'ActivateUser', data: {} });">
        </draftsman-trace>
    </div>
</template>