<!-- This file is managed by Tracepaper -->
<template x-component="AddControlFrameworkRequirement">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="AddControlFrameworkRequirement" x-include="/prepared-statements/commands/AddControlFrameworkRequirement.txt">
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="AddControlFrameworkRequirement"
              x-include="/form-definitions/AddControlFrameworkRequirement.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="AddControlFrameworkRequirement"></ui-basic-form>

        <draftsman-trace command="AddControlFrameworkRequirement"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'AddControlFrameworkRequirement', data: {} });">
        </draftsman-trace>
    </div>
</template>