<!-- This file is managed by Tracepaper -->
<template x-component="AddControlFramework">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="AddControlFramework" x-include="/prepared-statements/commands/AddControlFramework.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="AddControlFramework"
              x-include="/form-definitions/AddControlFramework.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="AddControlFramework"></ui-basic-form>

        <draftsman-trace command="AddControlFramework"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'AddControlFramework', data: {} });">
        </draftsman-trace>
    </div>
</template>