<!-- This file is managed by Tracepaper -->
<template x-component="CompleteCompanyProcessingActivityTask">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CompleteCompanyProcessingActivityTask" x-include="/prepared-statements/commands/CompleteCompanyProcessingActivityTask.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CompleteCompanyProcessingActivityTask"
              x-include="/form-definitions/CompleteCompanyProcessingActivityTask.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CompleteCompanyProcessingActivityTask"></ui-basic-form>

        <draftsman-trace command="CompleteCompanyProcessingActivityTask"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CompleteCompanyProcessingActivityTask', data: {} });">
        </draftsman-trace>
    </div>
</template>