<!-- This file is managed by Tracepaper -->
<template x-component="CompleteCompanyObjectiveTask">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CompleteCompanyObjectiveTask" x-include="/prepared-statements/commands/CompleteCompanyObjectiveTask.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CompleteCompanyObjectiveTask"
              x-include="/form-definitions/CompleteCompanyObjectiveTask.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CompleteCompanyObjectiveTask"></ui-basic-form>

        <draftsman-trace command="CompleteCompanyObjectiveTask"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CompleteCompanyObjectiveTask', data: {} });">
        </draftsman-trace>
    </div>
</template>