<!-- This file is managed by Tracepaper -->
<template x-component="CreateCompanyRisk">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateCompanyRisk" x-include="/prepared-statements/commands/CreateCompanyRisk.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateCompanyRisk"
              x-include="/form-definitions/CreateCompanyRisk.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateCompanyRisk"></ui-basic-form>

        <draftsman-trace command="CreateCompanyRisk"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateCompanyRisk', data: {} });">
        </draftsman-trace>
    </div>
</template>