<!-- This file is managed by Tracepaper -->
<template x-component="CreateCompany">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateCompany" x-include="/prepared-statements/commands/CreateCompany.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateCompany"
              x-include="/form-definitions/CreateCompany.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateCompany"></ui-basic-form>

        <draftsman-trace command="CreateCompany"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateCompany', data: {} });">
        </draftsman-trace>
    </div>
</template>