<!-- This file is managed by Tracepaper -->
<template x-component="CreateCompanyProcessingActivityTask">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateCompanyProcessingActivityTask" x-include="/prepared-statements/commands/CreateCompanyProcessingActivityTask.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateCompanyProcessingActivityTask"
              x-include="/form-definitions/CreateCompanyProcessingActivityTask.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateCompanyProcessingActivityTask"></ui-basic-form>

        <draftsman-trace command="CreateCompanyProcessingActivityTask"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateCompanyProcessingActivityTask', data: {} });">
        </draftsman-trace>
    </div>
</template>