<!-- This file is managed by Tracepaper -->
<template x-component="CreateCompanyAssetTask">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateCompanyAssetTask" x-include="/prepared-statements/commands/CreateCompanyAssetTask.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateCompanyAssetTask"
              x-include="/form-definitions/CreateCompanyAssetTask.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateCompanyAssetTask"></ui-basic-form>

        <draftsman-trace command="CreateCompanyAssetTask"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateCompanyAssetTask', data: {} });">
        </draftsman-trace>
    </div>
</template>