<!-- This file is managed by Tracepaper -->
<template x-component="CreateCompanyObjectiveTask">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateCompanyObjectiveTask" x-include="/prepared-statements/commands/CreateCompanyObjectiveTask.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateCompanyObjectiveTask"
              x-include="/form-definitions/CreateCompanyObjectiveTask.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateCompanyObjectiveTask"></ui-basic-form>

        <draftsman-trace command="CreateCompanyObjectiveTask"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateCompanyObjectiveTask', data: {} });">
        </draftsman-trace>
    </div>
</template>