<!-- This file is managed by Tracepaper -->
<template x-component="CreateObjective">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateObjective" x-include="/prepared-statements/commands/CreateObjective.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateObjective"
              x-include="/form-definitions/CreateObjective.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateObjective"></ui-basic-form>

        <draftsman-trace command="CreateObjective"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateObjective', data: {} });">
        </draftsman-trace>
    </div>
</template>