<!-- This file is managed by Tracepaper -->
<template x-component="CreateControlTemplate">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="CreateControlTemplate" x-include="/prepared-statements/commands/CreateControlTemplate.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="CreateControlTemplate"
              x-include="/form-definitions/CreateControlTemplate.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="CreateControlTemplate"></ui-basic-form>

        <draftsman-trace command="CreateControlTemplate"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'CreateControlTemplate', data: {} });">
        </draftsman-trace>
    </div>
</template>