<!-- This file is managed by Tracepaper -->
<template x-component="DeleteIndustry">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeleteIndustry" x-include="/prepared-statements/commands/DeleteIndustry.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeleteIndustry"
              x-include="/form-definitions/DeleteIndustry.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeleteIndustry"></ui-basic-form>

        <draftsman-trace command="DeleteIndustry"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeleteIndustry', data: {} });">
        </draftsman-trace>
    </div>
</template>