<!-- This file is managed by Tracepaper -->
<template x-component="DeleteRegion">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeleteRegion" x-include="/prepared-statements/commands/DeleteRegion.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeleteRegion"
              x-include="/form-definitions/DeleteRegion.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeleteRegion"></ui-basic-form>

        <draftsman-trace command="DeleteRegion"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeleteRegion', data: {} });">
        </draftsman-trace>
    </div>
</template>