<!-- This file is managed by Tracepaper -->
<template x-component="DeleteCompanyIntegrationImplementation">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeleteCompanyIntegrationImplementation" x-include="/prepared-statements/commands/DeleteCompanyIntegrationImplementation.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeleteCompanyIntegrationImplementation"
              x-include="/form-definitions/DeleteCompanyIntegrationImplementation.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeleteCompanyIntegrationImplementation"></ui-basic-form>

        <draftsman-trace command="DeleteCompanyIntegrationImplementation"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeleteCompanyIntegrationImplementation', data: {} });">
        </draftsman-trace>
    </div>
</template>