<!-- This file is managed by Tracepaper -->
<template x-component="DeleteRequirement">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeleteRequirement" x-include="/prepared-statements/commands/DeleteRequirement.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeleteRequirement"
              x-include="/form-definitions/DeleteRequirement.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeleteRequirement"></ui-basic-form>

        <draftsman-trace command="DeleteRequirement"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeleteRequirement', data: {} });">
        </draftsman-trace>
    </div>
</template>