<!-- This file is managed by Tracepaper -->
<template x-component="DeleteCompanyAsset">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeleteCompanyAsset" x-include="/prepared-statements/commands/DeleteCompanyAsset.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeleteCompanyAsset"
              x-include="/form-definitions/DeleteCompanyAsset.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeleteCompanyAsset"></ui-basic-form>

        <draftsman-trace command="DeleteCompanyAsset"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeleteCompanyAsset', data: {} });">
        </draftsman-trace>
    </div>
</template>