<!-- This file is managed by Tracepaper -->
<template x-component="DeleteCompanyControl">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeleteCompanyControl" x-include="/prepared-statements/commands/DeleteCompanyControl.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeleteCompanyControl"
              x-include="/form-definitions/DeleteCompanyControl.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeleteCompanyControl"></ui-basic-form>

        <draftsman-trace command="DeleteCompanyControl"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeleteCompanyControl', data: {} });">
        </draftsman-trace>
    </div>
</template>