<!-- This file is managed by Tracepaper -->
<template x-component="DeleteCompanyObjective">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="DeleteCompanyObjective" x-include="/prepared-statements/commands/DeleteCompanyObjective.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="DeleteCompanyObjective"
              x-include="/form-definitions/DeleteCompanyObjective.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="DeleteCompanyObjective"></ui-basic-form>

        <draftsman-trace command="DeleteCompanyObjective"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'DeleteCompanyObjective', data: {} });">
        </draftsman-trace>
    </div>
</template>