<!-- This file is managed by Tracepaper -->
<template x-component="LinkLogoTenant">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="LinkLogoTenant" x-include="/prepared-statements/commands/LinkLogoTenant.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="LinkLogoTenant"
              x-include="/form-definitions/LinkLogoTenant.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="LinkLogoTenant"></ui-basic-form>

        <draftsman-trace command="LinkLogoTenant"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'LinkLogoTenant', data: {} });">
        </draftsman-trace>
    </div>
</template>