<!-- This file is managed by Tracepaper -->
<template x-component="LinkStyleSheetTenant">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="LinkStyleSheetTenant" x-include="/prepared-statements/commands/LinkStyleSheetTenant.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="LinkStyleSheetTenant"
              x-include="/form-definitions/LinkStyleSheetTenant.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="LinkStyleSheetTenant"></ui-basic-form>

        <draftsman-trace command="LinkStyleSheetTenant"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'LinkStyleSheetTenant', data: {} });">
        </draftsman-trace>
    </div>
</template>