<!-- This file is managed by Tracepaper -->
<template x-component="LinkAssetCompanyProcessingActivity">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="LinkAssetCompanyProcessingActivity" x-include="/prepared-statements/commands/LinkAssetCompanyProcessingActivity.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="LinkAssetCompanyProcessingActivity"
              x-include="/form-definitions/LinkAssetCompanyProcessingActivity.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="LinkAssetCompanyProcessingActivity"></ui-basic-form>

        <draftsman-trace command="LinkAssetCompanyProcessingActivity"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'LinkAssetCompanyProcessingActivity', data: {} });">
        </draftsman-trace>
    </div>
</template>