<!-- This file is managed by Tracepaper -->
<template x-component="ReleaseControlTemplate">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="ReleaseControlTemplate" x-include="/prepared-statements/commands/ReleaseControlTemplate.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="ReleaseControlTemplate"
              x-include="/form-definitions/ReleaseControlTemplate.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="ReleaseControlTemplate"></ui-basic-form>

        <draftsman-trace command="ReleaseControlTemplate"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'ReleaseControlTemplate', data: {} });">
        </draftsman-trace>
    </div>
</template>