<!-- This file is managed by Tracepaper -->
<template x-component="RemoveCompanyBusinessUnit">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="RemoveCompanyBusinessUnit" x-include="/prepared-statements/commands/RemoveCompanyBusinessUnit.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="RemoveCompanyBusinessUnit"
              x-include="/form-definitions/RemoveCompanyBusinessUnit.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="RemoveCompanyBusinessUnit"></ui-basic-form>

        <draftsman-trace command="RemoveCompanyBusinessUnit"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'RemoveCompanyBusinessUnit', data: {} });">
        </draftsman-trace>
    </div>
</template>