<!-- This file is managed by Tracepaper -->
<template x-component="StartCompanyControlAssessment">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="StartCompanyControlAssessment" x-include="/prepared-statements/commands/StartCompanyControlAssessment.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="StartCompanyControlAssessment"
              x-include="/form-definitions/StartCompanyControlAssessment.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="StartCompanyControlAssessment"></ui-basic-form>

        <draftsman-trace command="StartCompanyControlAssessment"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'StartCompanyControlAssessment', data: {} });">
        </draftsman-trace>
    </div>
</template>