<!-- This file is managed by Tracepaper -->
<template x-component="UnlinkAssetCompanyProcessingActivity">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UnlinkAssetCompanyProcessingActivity" x-include="/prepared-statements/commands/UnlinkAssetCompanyProcessingActivity.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UnlinkAssetCompanyProcessingActivity"
              x-include="/form-definitions/UnlinkAssetCompanyProcessingActivity.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UnlinkAssetCompanyProcessingActivity"></ui-basic-form>

        <draftsman-trace command="UnlinkAssetCompanyProcessingActivity"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UnlinkAssetCompanyProcessingActivity', data: {} });">
        </draftsman-trace>
    </div>
</template>