<!-- This file is managed by Tracepaper -->
<template x-component="UpdateRegion">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateRegion" x-include="/prepared-statements/commands/UpdateRegion.txt">
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateRegion"
              x-include="/form-definitions/UpdateRegion.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateRegion"></ui-basic-form>

        <draftsman-trace command="UpdateRegion"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateRegion', data: {} });">
        </draftsman-trace>
    </div>
</template>