<!-- This file is managed by Tracepaper -->
<template x-component="UpdateCompanyControlAssessment">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateCompanyControlAssessment" x-include="/prepared-statements/commands/UpdateCompanyControlAssessment.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateCompanyControlAssessment"
              x-include="/form-definitions/UpdateCompanyControlAssessment.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateCompanyControlAssessment"></ui-basic-form>

        <draftsman-trace command="UpdateCompanyControlAssessment"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateCompanyControlAssessment', data: {} });">
        </draftsman-trace>
    </div>
</template>