<!-- This file is managed by Tracepaper -->
<template x-component="UpdateCompany">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateCompany" x-include="/prepared-statements/commands/UpdateCompany.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateCompany"
              x-include="/form-definitions/UpdateCompany.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateCompany"></ui-basic-form>

        <draftsman-trace command="UpdateCompany"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateCompany', data: {} });">
        </draftsman-trace>
    </div>
</template>