<!-- This file is managed by Tracepaper -->
<template x-component="UpdateCompanyRiskAction">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateCompanyRiskAction" x-include="/prepared-statements/commands/UpdateCompanyRiskAction.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateCompanyRiskAction"
              x-include="/form-definitions/UpdateCompanyRiskAction.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateCompanyRiskAction"></ui-basic-form>

        <draftsman-trace command="UpdateCompanyRiskAction"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateCompanyRiskAction', data: {} });">
        </draftsman-trace>
    </div>
</template>