<!-- This file is managed by Tracepaper -->
<template x-component="UpdateCompanyRisk">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateCompanyRisk" x-include="/prepared-statements/commands/UpdateCompanyRisk.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateCompanyRisk"
              x-include="/form-definitions/UpdateCompanyRisk.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateCompanyRisk"></ui-basic-form>

        <draftsman-trace command="UpdateCompanyRisk"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateCompanyRisk', data: {} });">
        </draftsman-trace>
    </div>
</template>