<!-- This file is managed by Tracepaper -->
<template x-component="UpdateTenant">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateTenant" x-include="/prepared-statements/commands/UpdateTenant.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateTenant"
              x-include="/form-definitions/UpdateTenant.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateTenant"></ui-basic-form>

        <draftsman-trace command="UpdateTenant"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateTenant', data: {} });">
        </draftsman-trace>
    </div>
</template>