<!-- This file is managed by Tracepaper -->
<template x-component="UpdateCompanyAssetTask">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateCompanyAssetTask" x-include="/prepared-statements/commands/UpdateCompanyAssetTask.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateCompanyAssetTask"
              x-include="/form-definitions/UpdateCompanyAssetTask.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateCompanyAssetTask"></ui-basic-form>

        <draftsman-trace command="UpdateCompanyAssetTask"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateCompanyAssetTask', data: {} });">
        </draftsman-trace>
    </div>
</template>