<!-- This file is managed by Tracepaper -->
<template x-component="UpdateCompanyProcessingActivityTask">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateCompanyProcessingActivityTask" x-include="/prepared-statements/commands/UpdateCompanyProcessingActivityTask.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateCompanyProcessingActivityTask"
              x-include="/form-definitions/UpdateCompanyProcessingActivityTask.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateCompanyProcessingActivityTask"></ui-basic-form>

        <draftsman-trace command="UpdateCompanyProcessingActivityTask"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateCompanyProcessingActivityTask', data: {} });">
        </draftsman-trace>
    </div>
</template>