<!-- This file is managed by Tracepaper -->
<template x-component="UpdateControlFramework">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateControlFramework" x-include="/prepared-statements/commands/UpdateControlFramework.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateControlFramework"
              x-include="/form-definitions/UpdateControlFramework.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateControlFramework"></ui-basic-form>

        <draftsman-trace command="UpdateControlFramework"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateControlFramework', data: {} });">
        </draftsman-trace>
    </div>
</template>