<!-- This file is managed by Tracepaper -->
<template x-component="UpdateIndustry">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateIndustry" x-include="/prepared-statements/commands/UpdateIndustry.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateIndustry"
              x-include="/form-definitions/UpdateIndustry.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateIndustry"></ui-basic-form>

        <draftsman-trace command="UpdateIndustry"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateIndustry', data: {} });">
        </draftsman-trace>
    </div>
</template>