<!-- This file is managed by Tracepaper -->
<template x-component="UpdateCompanyBusinessUnit">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="UpdateCompanyBusinessUnit" x-include="/prepared-statements/commands/UpdateCompanyBusinessUnit.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="UpdateCompanyBusinessUnit"
              x-include="/form-definitions/UpdateCompanyBusinessUnit.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="UpdateCompanyBusinessUnit"></ui-basic-form>

        <draftsman-trace command="UpdateCompanyBusinessUnit"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'UpdateCompanyBusinessUnit', data: {} });">
        </draftsman-trace>
    </div>
</template>