<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="requirement-get">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetRequirement($key: ID = "") {
       Requirement {
         get(key: $key) {
           key
           name
           description
           arn
           parent
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>