<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="linkedregulation-get">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query GetLinkedRegulation($key: ID = "") {
       LinkedRegulation {
         get(key: $key) {
           key
           companyName
           link
           regulationName
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "key",
    "type": "String"
  }
]
        </div>
    </div>
</template>