<!-- This file is managed by Tracepaper -->
<template x-component="domain-overview">
    <div class="row gx-5">
            <div class="col-3">
                <h4>Commands</h4>
                <center>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        
                        <button type="button" class="btn btn-outline-primary"
                                @click="Draftsman.empty_track_and_trace_log();component = 'AddControlFramework'"
                                x-show="'addcontrolframework'.includes(search.toLowerCase())">
                            AddControlFramework
                        </button>
                        
                        <button type="button" class="btn btn-outline-primary"
                                @click="Draftsman.empty_track_and_trace_log();component = 'AddIndustry'"
                                x-show="'addindustry'.includes(search.toLowerCase())">
                            AddIndustry
                        </button>
                        
                    </div>
                </center>
            </div>
            <div class="col-6">
                
                <div x-show="component == 'AddControlFramework'" x-cloak x-transition>
                    <div x-import="commands/AddControlFramework">
                        <h6>AddControlFramework</h6>
                        <ui-AddControlFramework></ui-AddControlFramework>
                    </div>
                </div>

                
                <div x-show="component == 'AddIndustry'" x-cloak x-transition>
                    <div x-import="commands/AddIndustry">
                        <h6>AddIndustry</h6>
                        <ui-AddIndustry></ui-AddIndustry>
                    </div>
                </div>

                

                
                <div x-show="component == 'ControlFramework/get'" x-cloak x-transition>
                    <div x-import="views/ControlFramework/get">
                        <h6>ControlFramework.get</h6>
                        <ui-ControlFramework-get></ui-ControlFramework-get>
                    </div>
                </div>

                
                <div x-show="component == 'ControlFramework/filter'" x-cloak x-transition>
                    <div x-import="views/ControlFramework/filter">
                        <h6>ControlFramework.filter</h6>
                        <ui-ControlFramework-filter></ui-ControlFramework-filter>
                    </div>
                </div>

                
                <div x-show="component == 'Industry/get'" x-cloak x-transition>
                    <div x-import="views/Industry/get">
                        <h6>Industry.get</h6>
                        <ui-Industry-get></ui-Industry-get>
                    </div>
                </div>

                
                <div x-show="component == 'Industry/filter'" x-cloak x-transition>
                    <div x-import="views/Industry/filter">
                        <h6>Industry.filter</h6>
                        <ui-Industry-filter></ui-Industry-filter>
                    </div>
                </div>

                

            </div>
            <div class="col-3">
                <h4>Queries</h4>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    
                    <button type="button" class="btn btn-outline-primary"
                            x-show="'controlframework.get'.includes(search.toLowerCase())"
                            @click="component = 'ControlFramework/get'">ControlFramework.get
                    </button>
                    
                    <button type="button" class="btn btn-outline-primary"
                            x-show="'controlframework.filter'.includes(search.toLowerCase())"
                            @click="component = 'ControlFramework/filter'">ControlFramework.filter
                    </button>
                    
                    <button type="button" class="btn btn-outline-primary"
                            x-show="'industry.get'.includes(search.toLowerCase())"
                            @click="component = 'Industry/get'">Industry.get
                    </button>
                    
                    <button type="button" class="btn btn-outline-primary"
                            x-show="'industry.filter'.includes(search.toLowerCase())"
                            @click="component = 'Industry/filter'">Industry.filter
                    </button>
                    
                </div>
            </div>
        </div>
</template>