<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="create-control-template">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Create($arn: String = "", $description: String = "") {
       ControlTemplate{
         create(input: {arn: $arn,description: $description}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "arn",
    "title": "Arn",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "description",
    "title": "Description",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>