<!-- This file is managed by Tracepaper -->
<template x-component="Industry-get">
    <div x-import="tables;query-form">

        <!-- The query object -->
        <draftsman-query alias="Industryget" x-include="/prepared-statements/views/Industry/get.txt" authenticated>
        </draftsman-query>

        <!-- The form definition -->
        <div  style="display:none;" id="Industryget"
              x-include="/form-definitions/Industry/get.json"></div>

        <!-- The query form -->
        <ui-query-form alias="Industryget"></ui-query-form>

        <!-- The data view -->
        <ui-item-table alias="Industryget" path="get"></ui-item-table>
        

    </div>
</template>