<!-- This file is managed by Tracepaper -->
<template x-component="Country-filter">
    <div x-import="tables;query-form">

        <!-- The query object -->
        <draftsman-query alias="Countryfilter" x-include="/prepared-statements/views/Country/filter.txt" authenticated>
        </draftsman-query>

        <!-- The form definition -->
        <div  style="display:none;" id="Countryfilter"
              x-include="/form-definitions/Country/filter.json"></div>

        <!-- The query form -->
        <ui-query-form alias="Countryfilter"></ui-query-form>

        <!-- The data view --><ui-collection-table alias="Countryfilter" path="filter.resultset"></ui-collection-table>

    </div>
</template>