<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="link-regulation-company">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation LinkRegulation($companyName: String = "", $regulationName: String = "") {
       Company{
         linkRegulation(input: {companyName: $companyName,regulationName: $regulationName}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "companyName",
    "title": "Companyname",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  },
  {
    "name": "regulationName",
    "title": "Regulationname",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>